@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
  color: white ;
  margin-left: 20px;
  font-family: "Pacifico";
}
.Logo-2{
  color: red;
}
.logo-setup{
  display: flex;
}
.header{
  background-color: black;
  display: flex;
  gap: 60rem;
}
.items{
  color: red;
  display: flex;
}
.item-list{
  list-style: none;
  position: relative;
  float: left;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item-list li:hover{
  color: azure;
}
.footer{
  background-color: rgb(13, 13, 13);
  width: 100%;
}
.footer-items{
  display: flex;
  gap: 60rem;
  align-items: center;
  color: red;
  font-family: sans-serif;
}
